[submodule "third_party/hgpaktool"]
	path = third_party/hgpaktool
	url = https://github.com/monkeyman192/HGPAKtool.git
[submodule "third_party/lanes"]
	path = third_party/lanes
	url = https://github.com/LuaLanes/lanes.git
[submodule "third_party/luafilesystem"]
	path = third_party/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "third_party/lua-bint"]
	path = third_party/lua-bint
	url = https://github.com/edubart/lua-bint.git
